parameters:
  level: max            
  paths:
    - phpstan-stubs.php
    - api/

  excludePaths:
    - admin/*
    - admin/reporte/fpdf/*  
    - admin/reporte/fpdf/tutorial/* 
    - admin/reporte/generar_excel.php
    - admin/reporte/generar_pdf.php